
/*
  This theme is based on the xoria theme
*/

@importtheme "_base";

QWidget
{
    background-color: #1c1c1c;
    color: #d0d0d0;
}

QCheckBox
{
    background-color: transparent;
}

QTextEdit,
QPlainTextEdit
{
    background-color: #1c1c1c;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
}

QMenu
{
    border: 1px solid #3a3a3a;
}

QMenuBar,
QMenuBar::item
{
    background-color: #1c1c1c;
    color: #d0d0d0;
}

QMenu::item:selected
{
    background-color: #3a3a3a;
}

QMenu::item:disabled
{
    color: #666;
}

QLineEdit
{
    border: 1px solid #474747;
    min-height: 20px;
    border-radius: 2px;
}

QLineEdit:hover,
QLineEdit:focus
{
    border: 1px solid #00aaaa;
}

QTabBar::tab
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #555555, stop: 1 #444444);
}

QTabBar::tab:selected
{
    background-color: #777777;
}

QTableView
{
    border: 1px solid #474747;
    background-color: #2d2d2d;
}

QHeaderView::section
{
    background-color: #444;
    border: none;
    border-left: 1px solid #666;
    border-right: 1px solid #333;
    padding: 3px;
}

QHeaderView:horizontal::section
{
    min-height: 20px;
}

QHeaderView:vertical::section
{
}

QTableCornerButton::section
{
    background: #222;
    border: 2px outset #222;
}

CustomIDAMemo,
EditContainer
{
    /* FIXME */
    /* font-family: "<TEXT_INPUT_FONT_FAMILY>"; */
    /* font-size: <TEXT_INPUT_FONT_SIZE>; */
    /* font-style: <TEXT_INPUT_FONT_STYLE>; */
    /* font-weight: <TEXT_INPUT_FONT_WEIGHT>; */
}

IDAView
{
    /* FIXME */
    /* font-family: "<DISASSEMBLY_FONT_FAMILY>"; */
    /* font-size: <DISASSEMBLY_FONT_SIZE>; */
    /* font-style: <DISASSEMBLY_FONT_STYLE>; */
    /* font-weight: <DISASSEMBLY_FONT_WEIGHT>; */
}

hexview_t
{
    /* FIXME */
    /* font-family: "<HEXVIEW_FONT_FAMILY>"; */
    /* font-size: <HEXVIEW_FONT_SIZE>; */
    /* font-style: <HEXVIEW_FONT_STYLE>; */
    /* font-weight: <HEXVIEW_FONT_WEIGHT>; */
}

/* TODO: DEBUG_REGISTERS, OUTPUT_WINDOW */

QScrollBar
{
    background-color: #363636;
    width: 20px;
    height: 20px;
    margin: 0 0 0 0;
}

QScrollBar::sub-line,
QScrollBar::add-line
{
    width: 0;
    height: 0;
}

QScrollBar::add-page,
QScrollBar::sub-page
{
    background: none;
}

QScrollBar::handle:vertical
{
    min-height: 20px;
}

QScrollBar::handle:horizontal
{
    min-width: 20px;
}

QScrollBar::handle
{
    background-color: #585858;
    margin: 3px;
    border-radius: 7px;
}

QToolBar
{
    border: none;
}

QPushButton
{
    border: 1px solid #3a3a3a;
    text-align: center;
    min-height: 20px;
    min-width: 50px;
    padding: 0 6px 0 6px;
    border-radius: 2px;
}

QPushButton:hover,
QPushButton:default
{
    border: 1px solid #3a3a3a;
    background-color: #2a2a2a;
}

QPushButton:pressed
{
    border: 1px solid #3a3a3a;
    background-color: #3a3a3a;
}

TNavBand > QPushButton,
nav_scroll_button_t,
RegJumpButton
{
    min-height: 0;
    min-width: 0;
    padding: 0;
    border: none;
}

QPushButton.DockWidgetTitleButton
{
    border: none;
    min-height: 15px;
    min-width: 15px;
    margin: 5px;
    padding: 3px;
}

DockWidgetTitle
{
    min-height: 30px;
    padding-bottom: 5px;
}

QComboBox
{
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    color: #ddd;
    /*  KLUDGE: https://stackoverflow.com/questions/24447276/qcombobox-text-colour-wont-change-with-style-sheet */
    padding: 1px 0px 1px 3px;
}

QComboBox > QLineEdit,
QComboBox > QLineEdit:hover,
QComboBox > QLineEdit:focus
{
    border: none;
    min-height: default;
}

QComboBox:hover,
QComboBox:focus
{
    border: 1px solid #00aaaa;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 1px;
    border-left-color: #666;
    border-left-style: solid;
}

/* The 'menu' of a QComboBox */
QComboBox QAbstractItemView
{
    border: 1px solid #2A2A2A;
}

QComboBox:!editable
{
    background-color: #424242;
}

QComboBox::down-arrow
{
    image: url("$RELPATH/icons/expand.png");
}

/* Close, maximize and undock button for dock widgets */
IDADockWidget > QWidget > QAbstractButton
{
    background-color: #3a3a3a;
    border-radius: 6px;
}

QRadioButton:indicator {
    border: 1px solid #3a3a3a;
    border-radius: 10px;
}

QCheckBox:indicator {
    border: 1px solid #3a3a3a;
}

QRadioButton:indicator::checked, QCheckBox:indicator::checked {
    background: #3a3a3a;
}

QRadioButton:indicator:hover, QCheckBox:indicator:hover {
    background: #2a2a2a;
}

QRadioButton,
QLabel,
QCheckBox
{
    background: transparent;
}

QStatusBar QLabel
{
    border: none;
}

QStatusBar::item
{
    border: 1px solid #3a3a3a;
    border-radius: 2px;
}

EditContainer,
ChooserContainer,
QGroupBox,
QListView,
QTreeView
{
    border: 1px solid #3a3a3a;
    border-radius: 2px;
}

QGroupBox
{
    margin-top: 5px;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    subcontrol-position: top center;
}

/* Remove border from IDC/Python switch button */
CLIWidget > QGroupBox > QPushButton,
CLIWidget > QGroupBox > QPushButton:hover,
CLIWidget > QGroupBox > QPushButton:focus
{
    border: none;
}

CLIWidget > QGroupBox
{
    margin-top: 0;
}

QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected
{
    background-color: #474747;
    color: #ddd;
}

QToolTip,
QTipLabel
{
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    background: #111111;
    color: #d0d0d0;
    margin: 0;
    padding: 0;
}

CustomIDAMemo
{
    border: none;

    qproperty-line-fg-default: #b0b0b0;/* Default                                       */
    qproperty-line-fg-regular-comment: #b0b0b0;/* Regular comment                               */
    qproperty-line-fg-repeatable-comment: #b0b0b0;/* Repeatable commen                             */
    qproperty-line-fg-automatic-comment: #b0b0b0;/* Automatic comment                             */
    qproperty-line-fg-insn: white;/* Instruction                                   */
    qproperty-line-fg-dummy-data-name: #ebebb9;/* Dummy Data Name                               */
    qproperty-line-fg-regular-data-name: #ebebb9;/* Regular Data Name                             */
    qproperty-line-fg-demangled-name: #ffecbb;/* Demangled Name                                */
    qproperty-line-fg-punctuation: #c0c0c0;/* Punctuation                                   */
    qproperty-line-fg-charlit-in-insn: #dfaf87;/* Char constant                                 */
    qproperty-line-fg-strlit-in-insn: #dfaf87;/* String constant                               */
    qproperty-line-fg-numlit-in-insn: #dfaf87;/* Numeric constant                              */
    qproperty-line-fg-void-opnd: #ff4646;/* Void operand                                  */
    qproperty-line-fg-code-xref: #ffaa7f;
    qproperty-line-fg-data-xref: #7c7c61;
    qproperty-line-fg-code-xref-to-tail: #d25032;
    qproperty-line-fg-data-xref-to-tail: #808000;/* Data reference to tail byte                   */
    qproperty-line-fg-error: #800000;/* Error or problem                              */
    qproperty-line-fg-line-prefix: #d0d0d0;/* Line prefix                                   */
    qproperty-line-fg-opcode-byte: #595959;/* Opcode bytes                                  */
    qproperty-line-fg-extra-line: #ffc5f3;/* Extra line                                    */
    qproperty-line-fg-alt-opnd: #ffaaff;/* Alternative operand                           */
    qproperty-line-fg-hidden: #ffd200;/* Hidden name                                   */
    qproperty-line-fg-libfunc: #d0d0d0;/* Library function name                         */
    qproperty-line-fg-locvar: #dfafdf;/* Local variable name                           */
    qproperty-line-fg-dummy-code-name: #ffd200;/* Dummy code name                               */
    qproperty-line-fg-asm-directive: #9dd600;/* Assembler directive                           */
    qproperty-line-fg-macro: #df077e;/* Macro                                         */
    qproperty-line-fg-strlit-in-data: #dfaf87;/* String constant in data directive             */
    qproperty-line-fg-charlit-in-data: #dfaf87;/* Char constant in data directive               */
    qproperty-line-fg-numlit-in-data: #dfaf87;/* Numeric constant in data directive            */
    qproperty-line-fg-keyword: #87afdf;/* Keywords (offset, byte ptr, near)             */
    qproperty-line-fg-register-name: #dfafdf;/* Register name                                 */
    qproperty-line-fg-import-name: #ff5afd;/* Imported name                                 */
    qproperty-line-fg-segment-name: #ffff7f;/* Segment name                                  */
    qproperty-line-fg-dummy-unknown-name: #aaff00;/* Dummy unknown name                            */
    qproperty-line-fg-code-name: #dfafdf;/* Regular Code Name                             */
    qproperty-line-fg-unknown-name: #ffaaff;/* Regular Unknown Name                          */
    qproperty-line-fg-collapsed-line: #ffff00;/* Collapsed line                                */
    qproperty-line-bg-default: #1c1c1c;/* Default background                            */
    qproperty-line-bg-selected: #3a3a3a;/* Selected background                           */

    qproperty-line-pfx-libfunc: #00ffff;/* Line prefix: Library function                 */
    qproperty-line-pfx-func: #666666;/* Line prefix: Regular function                 */
    qproperty-line-pfx-insn: #aa0000;/* Line prefix: Single instruction               */
    qproperty-line-pfx-data: #7c7c61;/* Line prefix: Data bytes                       */
    qproperty-line-pfx-unexplored: #9d9d00;/* Line prefix: Unexplored byte                  */
    qproperty-line-pfx-extern: #ff55ff;/* Line prefix: External name definition segment */
    qproperty-line-pfx-current-line: #ffaa00;/* Line prefix: Current line                     */
    qproperty-line-pfx-lumina: #32cd32;/* Line prefix: Lumina                           */

    qproperty-graph-bg-top: #b2b2b2;
    qproperty-graph-bg-bottom: #b2b2b2;
    qproperty-graph-node-title-normal: #f5f5f5;
    qproperty-graph-node-title-selected: #aa9f98;
    qproperty-graph-node-title-current: #5e5854;
    qproperty-graph-node-frame-group: #ffff00;
    qproperty-graph-node-shadow: #242424;
    qproperty-graph-node-high1: #003900;
    qproperty-graph-node-high2: #6d0000;
    qproperty-graph-node-foreign: #ff0000;
    qproperty-graph-edge-normal: #0043cb;
    qproperty-graph-edge-yes: #009100;
    qproperty-graph-edge-no: #bc0000;
    qproperty-graph-edge-high: #aaaaff;
    qproperty-graph-edge-current: #c68e00;
    qproperty-line-fg-patched-bytes: #804040;
    qproperty-line-fg-unsaved-changes: #ff8000;
    qproperty-line-bg-highlight: #3a3a3a;
    qproperty-line-bg-bpt-enabled: #760000;
    qproperty-line-bg-bpt-disabled: #00ff00;
    qproperty-line-bg-bpt-unavailable: #ff8000;
}

CustomIDAMemo[debugging="true"]
{
    qproperty-line-bg-default: #4D4D4D;
}

CustomIDAMemo[hints="true"]
{
    qproperty-line-bg-default: #424242;
}

MainMsgList
{
    color: #ddd;
    background-color: #363636;
}

TCpuRegs
{
    background-color: #4D4D4D;
    qproperty-register-defined: white;
    qproperty-register-changed: #FFFF7F;
    qproperty-register-edited: #FF7F17;
    qproperty-register-unavailable: #808080;
}

TCpuRegs IDALabel
{
    color: #AAAAAA;
}

TextArrows
{
    qproperty-jump-in-function: #6c4634;
    qproperty-jump-external-to-function: #00dede;
    qproperty-jump-under-cursor: #ffaa00;
    qproperty-jump-target: #008000;
    qproperty-register-target: #ff8080;
}

navband_t
{
    qproperty-lib-function: #00aaff;
    qproperty-function: #ffaa00;
    qproperty-code: #800000;
    qproperty-data: #ebebb9;
    qproperty-undefined: #787800;
    qproperty-extern: #ff00ff;
    qproperty-error: #ca0000;
    qproperty-gap: #4a4a4a;
    qproperty-cursor: #80ff00;
    qproperty-auto-analysis-cursor: #ff8000;
    qproperty-lumina-function: #32cd32;
}

TextEdit
{
    qproperty-keyword1-fg: #87afdf;
    qproperty-keyword2-fg: #dfafdf;
    qproperty-keyword3-fg: #ffffaf;
    qproperty-string-fg: #df8787;
    qproperty-comment-fg: #808080;
    qproperty-preprocessor-fg: #afdf87;
    qproperty-number-fg: #dfaf87;
}

TextEdit QWidget
{
    background-color: transparent;
}

TextEdit text_edit_margin_widget_t
{
    color: lightgrey;
    qproperty-header-color: gainsboro;
}

TChooser
{
    qproperty-highlight-bg-default: #5f87df;
    qproperty-highlight-bg-selected: #5f87df;
}
